.flex-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: #f1f1f1;
}

.flex-container > div {
  background-color: DodgerBlue;
  color: #fff;
  margin: 10px;
  width: 120px;
  height: 120px;
  line-height: 90px;
  font-size: 100px;
  text-align: center;
}